.additional-items {
}
.additional-items__title {
  display: inline-block;
}
.additional-items__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additional-items__item {
  display: flex;
  flex-wrap: wrap;
}
.additional-items__name {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}
.additional-items__value {
  flex-grow: 1;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}
.additional-items__price {
}
.additional-items__button {
  font-size: 16px;
}
.additional-items__gift {
}
