.additionally {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
    }
  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.additionally__legend {
  padding: 0;
  margin-bottom: 36px;
  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41px 60px;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.additionally__item {
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.additionally__label {
  position: relative;
  margin-left: 46px;
  cursor: pointer;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 58px;
  }
}

.additionally__input + .additionally__label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -59px;
    top: -6px;
  }
}

.additionally__label:hover::before {
  border: 1px solid @special_dark-grey;
}
.additionally__input:focus + .additionally__label::before {
  border: 1px solid @special_dark-grey;
}

.additionally__input:disabled + .additionally__label {
  opacity: 0.3;
}

.additionally__input:checked + .additionally__label::before {
  background: url(../img/additionally/checked.svg) no-repeat center;
}
