.catalog-show-all {
  border-top: 1px solid @special_grey-2;
  border-bottom: 1px solid @special_grey-2;
  @media (min-width: @tablet-width) {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.catalog-show-all-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: @tablet-width) {
    height: 100%;
    border: 1px solid @special_grey-2;
    margin-top: 85px;
    flex-grow: 1;
    padding: 39px 36px;
  }
}
.catalog-show-all__img {
  margin: 25px 0;
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 49px;
  }
}
.catalog-show-all__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black-2;
  margin: 0 0 8px 0;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 176px;
    text-align: center;
    margin-bottom: 24px;
  }
}
.catalog-show-all__subtitle {
  font-family: 'Arial';
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  margin: 0 0 21px 0;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 176px;
  }
}
.catalog-show-all__button {
  background-color: @basic_grey;
  color: @special_dark-grey;
  text-transform: uppercase;
  margin-bottom: 21px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: auto;
  }
  @media (min-width: @desktop-width) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
