.form {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.form__info-cat {
  grid-column: ~"1/3";
}

.form__legend {
}

.form__lable {

}

.form__input {
}

.form__programm {
  grid-column: ~"3/5";
}

.form__contacts-owner {
  grid-column: ~"1/-1";
}

.form__text-about-cat {
  grid-column: ~"1/-1";
}

.form__additionally {
  grid-column: ~"1/-1";
}

.form__button {
  border: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  grid-column: ~"1/3";
}

.form__required-fields {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: @black;
}
