.form {
}
.form__info-cat {
}
.form__legend {
}
.form__lable {

}
.form__input {
}
.form__programm {
}
.form__contacts-owner {
}
.form__text-about-cat {
}
.form__additionally {
}
.form__button {
  border: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.form__required-fields {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: @black;
}
