.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(../../img/gift/gift-photo-mobile\ 1.png) no-repeat;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  padding: 50px;
  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background: url(../../img/gift/icon_gift.svg) no-repeat;
  }
}
.gift__img {
}
.gift__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
}
