.main-nav {
}
.main-nav__toggle {
}
.main-nav__wrapper {
}
.main-nav__list {
  list-style: none;
}
.main-nav__item {
  text-align: center;
}
.main-nav__item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}
.main-nav__item--current {
}
