.map {
}
.map__info {
}
.map__welcome {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.map__address {
  font-family: 'Arial';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
