.page-catalog {
}
.page-catalog__wrapper {
}
.page-catalog__title {
  line-height: 36px;
  margin-bottom: 41px;
  margin-top: 27px;
}
.page-catalog__catalog {
}
.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-catalog__item {
  display: flex;
  justify-content: center;
}
