.page-footer__bottom {
  background-color: @basic_grey;
}
.page-footer__bottom-wrap {
  margin: 0 20px;
  @media (min-width: @tablet-width) {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
  }
}
.page-footer__logo {
  display: flex;
  justify-content: center;
  padding: 35px 0 30px;
  border-bottom: 1px solid #D9D9D9;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
.page-footer__social {
  padding: 20px 0 11px;
  border-bottom: 1px solid #D9D9D9;
}
.page-footer__copyright {
  padding: 22px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
