.page-header {
  background-color: @white;
  border-bottom: 1px solid @form-border;
  @media (min-width: @desktop-width) {
    background: none;
    border: none;
  }
}
.page-header__wrapper {
  position: relative;
  margin: 0 20px;
  @media (min-width: @tablet-width) {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-top: 9px;
  margin-left: 2px;
  padding-bottom: 19px;
  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}
.page-header__logo {
  width: 33.32px;
  height: 37.61px;
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 51.68px;
  }
}
.page-header__logo-image {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.page-header__logo-image-tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.page-header__logo-text-link {
  display: block;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.page-header__logo-text {
}
