.page-form__wrapper {
  margin: 0 20px;
  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }
}
.page-form__title {
}
.page-form__desc {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}
.page-form__form {
}
