.page-catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-catalog__title {
  line-height: 36px;
  margin-bottom: 41px;
  margin-top: 27px;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 51px;
    margin-bottom: 80px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 61px;
    margin-bottom: 84px;
  }
}

.page-catalog__catalog {
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}

.page-catalog__item {
  display: flex;
  justify-content: center;
  border-top: 1px solid @special_grey-2;
  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}
