.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
}
.social-list__item {
}
.social-list__link {
}
