.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
  @media (min-width: @tablet-width) {
    align-items: center;
    margin-left: 25px;
  }
}
.social-list__item {
}
.social-list__link {
  display: block;
  &:active {
    opacity: 0.6;
  }
}
.social-list__link--img-vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}
.social-list__link--img-inst {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}
.social-list__link--img-fb {
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}



.social-list__link:hover .social-list__link--img-fb path,
.social-list__link:focus .social-list__link--img-fb path {
  stroke: @basic_green;
}
.social-list__link:hover .social-list__link--img-inst path,
.social-list__link:focus .social-list__link--img-inst path {
  fill: @basic_green;
}
.social-list__link:hover .social-list__link--img-vk path,
.social-list__link:focus .social-list__link--img-vk path {
  fill: @basic_green;
}



