img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald Regular"), url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald Medium"), url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: local("Arial"), local("Arial Regular"), url("../../fonts/Arial.woff2") format("woff2"), url("../../fonts/Arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-header {
    background: none;
    border: none;
  }
}
.page-header--form {
  margin-bottom: 25px;
}
.page-header__wrapper {
  position: relative;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
}
@media (min-width: 1440px) {
  .page-header__wrapper {
    margin: 0 110px;
    padding: 0;
    margin-top: 54px;
  }
}
@media (min-width: 1440px) {
  .page-header__wrapper--form {
    margin-top: 42px;
  }
}
.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-top: 14px;
  margin-left: 2px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .page-header__logo-wrapper {
    padding-right: 0;
    padding-top: 10px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo-wrapper {
    padding: 0;
  }
}
.page-header__logo-wrapper--form {
  margin-left: 0;
  padding-top: 12px;
  padding-bottom: 15px;
}
.page-header__logo {
  width: 33.32px;
  height: 37.61px;
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 174px;
    height: 51.68px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 768px) {
  .page-header__logo-image {
    display: none;
  }
}
.page-header__logo-image-tablet {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo-image-tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .page-header__logo-image-tablet {
    width: 202px;
    height: 59px;
  }
}
.page-header__logo-text-link {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-header__logo-text-link {
    display: none;
  }
}
.page-header__logo-text-link--form {
  margin: 11px auto 0;
  padding-right: 14px;
}
@media (min-width: 768px) {
  .main-nav {
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 479px;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 19px;
  right: 0;
  width: 23px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle--form {
  top: 24px;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 24.76px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
.main-nav__item {
  border-top: 1px solid #E6E6E6;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-nav__item {
    border: none;
    margin: 0;
  }
}
.main-nav__item-link {
  display: block;
  padding: 22px;
  padding-top: 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .main-nav__item-link {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item-link {
    font-size: 20px;
    color: #FFFFFF;
  }
}
.main-nav__item-link-black {
  color: #000000;
}
.main-nav__item--current {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav__item--current::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1440px) {
  .main-nav__item--current {
    border-color: #FFFFFF;
  }
  .main-nav__item--current::after {
    background-color: #FFFFFF;
    bottom: -14px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item--current-form::after {
    background-color: #68B738;
    bottom: -14px;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
.main-block {
  background-image: linear-gradient(to top, #fff 179px, transparent 179px), url(../../img/main-block/cat-main-block-background.png);
  background-color: #62A63B;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .main-block {
    background: none;
    margin-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .main-block {
    min-height: 608px;
  }
  .main-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image: url(../../img/main-block/cat-main-block-desktop.png);
    background-color: #65a93c;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -2;
  }
}
.main-block__wrapper {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 27px;
}
@media (min-width: 768px) {
  .main-block__wrapper {
    position: relative;
    margin: 0 30px;
    padding-top: 45px;
    min-height: 800px;
    display: block;
  }
  .main-block__wrapper::after {
    content: "";
    position: absolute;
    top: 247px;
    width: 709px;
    height: 609px;
    background-image: url(../../img/main-block/index-can-tablet.png);
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .main-block__wrapper {
    position: relative;
    margin: 0 110px;
    padding-right: 50%;
    padding-top: 112px;
    min-height: 0;
  }
  .main-block__wrapper::before {
    display: block;
    content: "";
    width: 552px;
    height: 499px;
    background-image: url(../../img/main-block/index-can-desctop.png);
    position: absolute;
    top: 28px;
    left: 37%;
    z-index: -1;
  }
  .main-block__wrapper::after {
    display: none;
  }
}
.main-block__title {
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .main-block__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 87px;
    margin-right: 87px;
    text-align: left;
    margin-bottom: 42px;
  }
}
@media (min-width: 1440px) {
  .main-block__title {
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 33px;
  }
}
.main-block__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .main-block__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .main-block__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-left: 80px;
  }
}
.main-block__img {
  display: block;
  width: 280px;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-block__img {
    display: none;
  }
}
.main-block__img-tablet {
  display: none;
}
@media (min-width: 768px) {
  .main-block__img-tablet {
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 1440px) {
  .main-block__img-tablet {
    display: none;
  }
}
.main-block__img-desctop {
  display: none;
}
@media (min-width: 1440px) {
  .main-block__img-desctop {
    display: block;
    position: absolute;
    right: 28%;
    top: 20%;
    z-index: -1;
  }
}
.main-block .main-block__button {
  margin-top: 3px;
  padding-top: 11px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-block .main-block__button {
    width: 244px;
    height: 54px;
    margin-left: 82px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}
@media (min-width: 1440px) {
  .main-block .main-block__button {
    margin-left: 80px;
  }
}
@media (min-width: 1440px) {
  .choose-programs {
    margin-bottom: 25px;
  }
}
.choose-programs__wrapper {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .choose-programs__wrapper {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .choose-programs__wrapper {
    margin: 0 110px;
  }
}
.program {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .program {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.program__item {
  position: relative;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  min-height: 266px;
  padding: 21px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .program__item {
    padding-left: 52px;
    padding-top: 76px;
    padding-right: 61px;
    padding-bottom: 65px;
    min-height: 372px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .program__item {
    padding-top: 47px;
    padding-right: 55px;
    padding-bottom: 68px;
  }
}
.program__img-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}
@media (min-width: 768px) {
  .program__img-circle {
    position: absolute;
    right: 62px;
    top: 91px;
    width: 200px;
    height: 200px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .program__img-circle {
    width: 100px;
    height: 100px;
    position: static;
  }
}
.program__img {
  position: absolute;
  max-width: 200%;
}
@media (min-width: 768px) {
  .program__img--slim {
    width: 138px;
    top: -10px;
  }
}
@media (min-width: 1440px) {
  .program__img--slim {
    width: 70px;
    top: 42px;
  }
}
@media (min-width: 768px) {
  .program__img--pro {
    width: 267px;
  }
}
@media (min-width: 1440px) {
  .program__img--pro {
    width: 135px;
  }
}
.program__title {
  flex-grow: 1;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: 400;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 26px;
  }
}
@media (min-width: 1440px) {
  .program__title {
    margin-left: 62px;
    margin-top: 30px;
    margin-bottom: 74px;
  }
}
.program__descr {
  position: relative;
  display: flex;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
.program__descr::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}
@media (min-width: 768px) {
  .program__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 51px;
  }
  .program__descr::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .program__descr {
    margin-bottom: 26px;
  }
}
.program__descr--pro {
  padding-right: 34px;
}
@media (min-width: 768px) {
  .program__descr--pro {
    padding-right: 0;
  }
}
.program__link {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  align-self: end;
  height: 21px;
}
.program__link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 100px;
  width: 24px;
  height: 12px;
  background-image: url(../../img/program/arrow.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
  .program__link::after {
    top: 7px;
    left: 133px;
  }
}
@media (min-width: 768px) {
  .program__title,
  .program__descr,
  .program__link {
    width: calc(100% - 217px);
    flex-grow: 0;
  }
}
@media (min-width: 1440px) {
  .program__title,
  .program__descr,
  .program__link {
    width: auto;
    flex-grow: 1;
  }
}
.instruction {
  border-bottom: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .instruction {
    min-height: 753px;
  }
}
@media (min-width: 1440px) {
  .instruction {
    min-height: 397px;
    border-bottom: none;
  }
}
.instruction__wrapper {
  margin: 27px 20px 41px;
}
@media (min-width: 768px) {
  .instruction__wrapper {
    margin: 0 30px;
    padding-top: 18px;
  }
}
@media (min-width: 1440px) {
  .instruction__wrapper {
    margin: 0 110px;
  }
}
.instruction__title {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .instruction__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 73px;
  }
}
.instruction__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 114px 60px;
  }
}
@media (min-width: 1440px) {
  .instruction__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
.instruction__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
}
.instruction__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .instruction__item {
    min-height: 80px;
  }
  .instruction__item::before {
    width: 80px;
    height: 80px;
  }
  .instruction__item::after {
    position: absolute;
    top: -109px;
    right: 95px;
    font-size: 280px;
    color: #F2F2F2;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .instruction__item::after {
    left: 116px;
  }
}
.instruction__descr {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-top: 2px;
  padding-left: 80px;
  margin: 0;
}
@media (min-width: 768px) {
  .instruction__descr {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    margin-top: 109px;
    padding-right: 79px;
  }
}
@media (min-width: 1440px) {
  .instruction__descr {
    padding-right: 0;
  }
}
.instruction__item--1::before {
  background-image: url(../../img/instruction/icon_leaf.svg);
}
@media (min-width: 768px) {
  .instruction__item--1::before {
    background-image: url(../../img/instruction/leaf-tablet.svg);
  }
  .instruction__item--1::after {
    content: "1";
  }
}
.instruction__item--2::before {
  background-image: url(../../img/instruction/icon_tub.svg);
}
@media (min-width: 768px) {
  .instruction__item--2::before {
    background-image: url(../../img/instruction/tub-tablet.svg);
  }
  .instruction__item--2::after {
    content: "2";
    right: 79px;
  }
}
.instruction__item--3::before {
  background-image: url(../../img/instruction/icon_eat.svg);
}
@media (min-width: 768px) {
  .instruction__item--3::before {
    background-image: url(../../img/instruction/eat-tablet.svg);
  }
  .instruction__item--3::after {
    content: "3";
    right: 77px;
  }
}
.instruction__item--4::before {
  background-image: url(../../img/instruction/icon_alarm.svg);
}
@media (min-width: 768px) {
  .instruction__item--4::before {
    background-image: url(../../img/instruction/alarm-tablet.svg);
  }
  .instruction__item--4::after {
    content: "4";
    right: 76px;
  }
}
.example {
  background-color: #EAEAEA;
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(to top, #EAEAEA 43%, transparent 43%);
  }
}
@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to top, #EAEAEA 70.5%, transparent 70.5%);
  }
}
.example__wrapper {
  margin: 0 20px;
  padding: 27px 0 36px;
}
@media (min-width: 768px) {
  .example__wrapper {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    margin: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    margin-top: 5px;
    padding-bottom: 0;
  }
}
.example__descr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .example__descr {
    flex-direction: row;
    margin-bottom: 46px;
  }
}
@media (min-width: 1440px) {
  .example__descr {
    flex-direction: column;
  }
}
.example__title {
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .example__title {
    flex-grow: 1;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-top: 58px;
    margin-bottom: 102px;
    flex: none;
  }
}
.example__text {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 45px;
    padding-right: 10px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    padding-right: 175px;
    margin-bottom: 68px;
    flex: none;
  }
}
.example__stats-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .example__stats-wrap {
    width: 51.7%;
  }
}
@media (min-width: 1440px) {
  .example__stats-wrap {
    width: 60%;
    flex: none;
  }
}
.example__stats-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 125px;
  height: 56px;
  padding: 13px;
}
@media (min-width: 768px) {
  .example__stats-item {
    width: 162px;
    height: 72px;
    padding: 13px 5px;
  }
}
.example__stats-value {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .example__stats-value {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }
}
.example__stats-subtitle {
  display: block;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0 auto;
  width: 87px;
  padding: 0 10px;
  text-align: center;
  background-color: #EAEAEA;
}
@media (min-width: 768px) {
  .example__stats-subtitle {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    padding: 0;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
}
@media (min-width: 1440px) {
  .example__stats-subtitle {
    background-color: #EAEAEA;
  }
}
@media (min-width: 768px) {
  .example__stats-subtitle--right {
    width: 140px;
  }
}
.example__cost {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .example__cost {
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    margin: 0;
    margin-top: 10px;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    width: 53.6%;
    margin-top: 43px;
    flex: none;
  }
}
.example__cost-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2px;
}
.example__cost-text:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .example__cost-text {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .example__cost-text:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__cost-text {
    margin: 0;
  }
}
.example__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.example__slider-item {
  max-width: 120%;
  margin-left: -10px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .example__slider-item {
    display: none;
  }
}
.example__slider-item--tablet {
  display: none;
}
@media (min-width: 768px) {
  .example__slider-item--tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .example__slider-item--tablet {
    display: none;
  }
}
.example__slider-item--desktop {
  display: none;
}
@media (min-width: 1440px) {
  .example__slider-item--desktop {
    display: block;
    max-width: 150%;
  }
}
.example__slider-navigation {
  display: flex;
  align-items: center;
  width: 228px;
}
@media (min-width: 768px) {
  .example__slider-navigation {
    width: 83%;
    position: absolute;
    bottom: 36px;
  }
}
@media (min-width: 1440px) {
  .example__slider-navigation {
    width: 579px;
    bottom: 70px;
  }
}
.example__slider-navigation-desc {
  margin: 0;
  width: 69px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__slider-navigation-desc {
    font-size: 20px;
    line-height: 30px;
    margin-right: 10px;
    border-bottom: 1px dotted;
  }
  .example__slider-navigation-desc:last-child {
    margin-right: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1440px) {
  .example__slider-navigation-desc {
    flex: none;
  }
}
.example__slider-navigation-desc:last-child {
  margin-right: 0;
  margin-left: 14px;
}
.example__slider-navigation-scale {
  flex-grow: 1;
}
.example__slider-navigation-empty-scale {
  width: 84px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .example__slider-navigation-empty-scale {
    width: 100%;
    width: 428px;
    height: 6px;
    border: none;
    background: #DCDCDC;
    border-radius: 6px;
  }
}
.example__slider-navigation-full-scale {
  width: 35px;
  height: 6px;
  background-color: #68B738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .example__slider-navigation-full-scale {
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border-radius: 50%;
    box-sizing: content-box;
    border: 13px solid #FFFFFF;
    box-shadow: 0px 0px 0px 1px #DCDCDC;
    margin: 0 auto;
  }
}
.map {
  position: relative;
}
.map__form {
  background: #F2F2F2;
}
.map__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
  padding-top: 28px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .map__info {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: 201px;
    padding: 63px 41px 35px;
  }
}
@media (min-width: 1440px) {
  .map__info {
    position: absolute;
    top: 95px;
    left: 80px;
    width: 570px;
    height: 201px;
    z-index: 1;
    background-color: white;
    padding-left: 76px;
    padding-right: 52px;
  }
}
.map__welcome {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .map__welcome {
    width: 50%;
    font-size: 20px;
    line-height: 26px;
    padding-right: 80px;
  }
}
@media (min-width: 1440px) {
  .map__welcome {
    padding-right: 25px;
  }
}
.map__address {
  font-family: 'Arial';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .map__address {
    width: 50%;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    padding-left: 130px;
  }
}
@media (min-width: 1440px) {
  .map__address {
    padding-left: 29px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .map__address--city {
    display: block;
    margin-top: 21px;
  }
}
.map__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, 23%);
  z-index: 1;
}
@media (min-width: 768px) {
  .map__logo {
    transform: translate(-45%, 44%);
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 1440px) {
  .map__logo {
    top: 21%;
    left: 67%;
  }
}
.map__iframe {
  border: none;
}
@media (min-width: 768px) {
  .map__iframe {
    height: 400px;
    margin-bottom: -5px;
  }
}
.page-footer__bottom {
  background-color: #F2F2F2;
}
.page-footer__bottom-wrap {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-footer__bottom-wrap {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    min-height: 150px;
  }
}
@media (min-width: 1440px) {
  .page-footer__bottom-wrap {
    margin: 0 110px;
  }
}
.page-footer__logo {
  display: flex;
  justify-content: center;
  padding: 35px 0 30px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 0;
    border: none;
  }
}
.page-footer__social {
  padding: 20px 0 11px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer__social {
    align-self: center;
    border: none;
    padding: 0;
  }
}
.page-footer__copyright {
  padding: 22px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    padding: 0;
  }
}
.page-footer__copyright--logo-text {
  display: block;
  margin-right: 22px;
}
.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
}
@media (min-width: 768px) {
  .social-list {
    align-items: center;
    margin-left: 25px;
  }
}
@media (min-width: 768px) {
  .social-list__link--img-vk {
    width: 30px;
    height: 22px;
  }
}
@media (min-width: 768px) {
  .social-list__link--img-inst {
    width: 23px;
    height: 23px;
  }
}
@media (min-width: 768px) {
  .social-list__link--img-fb {
    width: 28px;
    height: 33px;
  }
}
.page-form__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .page-form__wrapper {
    padding-left: 71px;
    padding-right: 67px;
  }
}
@media (min-width: 1440px) {
  .page-form__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.page-form__title {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .page-form__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 22px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .page-form__title {
    margin-top: 34px;
  }
}
.page-form__desc {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .page-form__desc {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}
.form__info-cat {
  grid-column: 1/3;
  margin-top: 39px;
  margin-bottom: 22px;
}
@media (min-width: 1440px) {
  .form__info-cat {
    margin-top: 2px;
    padding-right: 0;
  }
}
.form__legend {
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 36px;
    line-height: 36px;
  }
}
.form__programm {
  grid-column: 3/5;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .form__programm {
    margin-left: 71px;
    margin-right: 67px;
    padding: 0 20px;
    border: 1px solid #D9D9D9;
    margin-bottom: 75px;
  }
}
@media (min-width: 1440px) {
  .form__programm {
    margin: 0;
    margin-right: 110px;
  }
}
.form__contacts-owner {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .form__contacts-owner {
    margin-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .form__contacts-owner {
    margin-bottom: 24px;
  }
}
.form__text-about-cat {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .form__text-about-cat {
    margin-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .form__text-about-cat {
    margin-bottom: 44px;
  }
}
.form__additionally {
  grid-column: 1/-1;
}
.form__submit {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .form__submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .form__submit {
    grid-column: 1/-1;
    gap: 0 80px;
    margin-bottom: 60px;
  }
}
.form__submit .form__button {
  border: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  grid-column: 1/3;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form__submit .form__button {
    height: 52px;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 0px;
  }
}
.form__required-fields {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .form__required-fields {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-top: 17px;
  }
}
.info-cat {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .info-cat {
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .info-cat {
    margin-bottom: 21px;
  }
}
.info-cat__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-cat__item {
  display: flex;
  margin-bottom: 13px;
}
.info-cat__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .info-cat__item {
    margin-bottom: 20px;
  }
  .info-cat__item:last-child {
    margin-bottom: 0;
  }
}
.info-cat__lable {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-shrink: 0;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .info-cat__lable {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0;
  }
}
.info-cat__input {
  width: 100%;
  height: 46px;
  border: 1px solid #E7E7E7;
  padding: 14px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  margin-left: 14px;
}
@media (min-width: 768px) {
  .info-cat__input {
    height: 52px;
    margin-left: 16px;
    font-size: 20px;
    line-height: 30px;
  }
}
.form-programm {
  border: none;
  margin: 0;
  padding: 0;
}
.form-programm__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 26px;
}
@media (min-width: 768px) {
  .form-programm__list {
    margin-top: 30px;
  }
}
.form-programm__item {
  margin-bottom: 19px;
}
.form-programm__item:last-child {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form-programm__item {
    margin-bottom: 23px;
  }
  .form-programm__item:last-child {
    margin-bottom: 28px;
  }
}
.form-programm__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-left: 46px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-programm__label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 68px;
  }
}
.form-programm__input ~ .form-programm__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -46px;
  width: 30px;
  height: 30px;
  padding: 7px;
  background-clip: content-box;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form-programm__input ~ .form-programm__label::before {
    top: -6px;
    left: -61px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
.form-programm__input:checked ~ .form-programm__label::before {
  background-color: #68B738;
}
.contacts {
  border: none;
  border-bottom: #D9D9D9;
  margin: 0;
  padding: 0;
  margin-top: 26px;
}
.contacts__legend {
  margin: 0;
  padding: 0;
}
.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .contacts-list {
    margin-top: 76px;
  }
}
@media (min-width: 1440px) {
  .contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}
.contacts_item {
  display: flex;
  margin-bottom: 15px;
}
.contacts_item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts_item {
    margin-bottom: 20px;
  }
  .contacts_item:last-child {
    margin-bottom: 0;
  }
}
.contacts__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-shrink: 0;
  padding: 13px 0;
}
@media (min-width: 768px) {
  .contacts__label {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 0;
  }
}
.contacts__input {
  width: 100%;
  height: 45px;
  padding: 14px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-left: 11px;
  background-image: url(../../img/contacts/icon_email.svg);
  background-repeat: no-repeat;
  background-position: 97%;
}
@media (min-width: 768px) {
  .contacts__input {
    height: 52px;
    margin-left: 19px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
    background-position: 97%;
  }
}
.contacts__input--phone {
  background-image: url(../../img/contacts/phone\ 1.svg);
  background-repeat: no-repeat;
  background-position: 97%;
}
@media (min-width: 1440px) {
  .contacts__input--phone {
    margin-left: 14px;
  }
}
.text-about-cat {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 18px;
}
.text-about-cat__legend {
  padding: 0;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .text-about-cat__legend {
    margin-bottom: 75px;
  }
}
.text-about-cat__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 8px 13px;
  width: 100%;
  height: 150px;
  resize: none;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .text-about-cat__text {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 17px;
    height: 175px;
  }
}
.additionally {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .additionally {
    margin-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .additionally {
    margin-bottom: 66px;
  }
}
.additionally__legend {
  padding: 0;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .additionally__legend {
    margin-bottom: 63px;
  }
}
.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41px 60px;
  }
}
@media (min-width: 1440px) {
  .additionally__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}
.additionally__item {
  margin-bottom: 18px;
}
.additionally__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .additionally__item {
    margin: 0;
  }
}
.additionally__label {
  position: relative;
  margin-left: 46px;
  cursor: pointer;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additionally__label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 58px;
  }
}
.additionally__input + .additionally__label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .additionally__input + .additionally__label::before {
    width: 40px;
    height: 40px;
    left: -59px;
    top: -6px;
  }
}
.additionally__input:checked + .additionally__label::before {
  background: url(../../img/additionally/checked\ .svg) no-repeat center;
}
.button {
  display: block;
  padding: 8px 44px;
  width: 100%;
  min-height: 40px;
  text-align: center;
  background: #68B738;
  color: #FFFFFF;
  cursor: pointer;
}
.page-catalog__title {
  line-height: 36px;
  margin-bottom: 41px;
  margin-top: 27px;
}
.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .page-catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .page-catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
.page-catalog__item {
  display: flex;
  justify-content: center;
}
.catalog-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-top: 1px solid #EBEBEB;
  margin-bottom: 25px;
  min-height: 144px;
}
.catalog-item__link-img {
  width: 137px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-item__info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  flex-grow: 1;
}
.catalog-item__link-name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.catalog-item__table {
  width: 100%;
}
.catalog-item__info,
.catalog-item__info-value {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #444444;
}
.catalog-item__info-value {
  text-align: right;
}
.catalog-show-all-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-show-all__img {
  margin: 25px 0;
}
.catalog-show-all__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0 0 8px 0;
}
.catalog-show-all__subtitle {
  font-family: 'Arial';
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 21px 0;
}
.catalog-show-all__button {
  background-color: #F2F2F2;
  color: #444444;
}
@media (min-width: 1440px) {
  .additional-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}
.additional-items__title {
  display: inline-block;
}
@media (min-width: 1440px) {
  .additional-items__title {
    grid-column: 1/-1;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.additional-items__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .additional-items__list {
    grid-column: 1/4;
  }
}
.additional-items__item {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .additional-items__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }
}
.additional-items__descr {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.additional-items__name {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-items__name {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .additional-items__name {
    width: 100%;
  }
}
.additional-items__value {
  flex-grow: 1;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.additional-items__button {
  font-size: 16px;
}
.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(../../img/gift/gift-photo-mobile\ 1.png) no-repeat;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  padding: 50px;
}
.gift::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background: url(../../img/gift/icon_gift.svg) no-repeat;
}
.gift__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
