// Colors

@basic_green: #68B738;
@main-block-green: #62A63B;
@basic_grey: #F2F2F2;
@special_grey: #CDCDCD;
@example_bacground: #EAEAEA;
@main-nav-border: #E6E6E6;
@form-border: #D9D9D9;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@white: #FFFFFF;
@black: #000000;
